/* */

/* Global */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:Arial, Helvetica, sans-serif;
}

:root{
    /* Dark Mode Colors */
    --bg-color: #080808;
    --second-bg-color: #131313; 
    --text-color: white; 
    --second-text-color: #afafb6;
    --main-color: #800080;
    --main-gradient-color: linear-gradient(90deg, #4b0082, #800080, #ff1493);
    --text-gradient-color: -webkit-linear-gradient(90deg, #4b0082, #800080, #ff1493);
    
    /* Light Mode Colors */
    --light-bg-color: #f0f0f0;
    --light-second-bg-color: #dededf;
    --light-text-color: #333; 
    --light-main-color: linear-gradient(90deg, #4b0082, #800080, #ff1493);
}

html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
span{
    background: var(--text-gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo span{
    color: var(--main-color);
}
.heading{
    font-size: 6rem;
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
    transition: 0.3s ease-in;
}
.heading:hover{
    background: var(--text-gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    scale: 1.1;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-gradient-color);
    font-size: 1.6rem;
    color: var(--light-bg-color);
    border: 2px solid transparent var(--main-gradient-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor:pointer;
}
.btn:hover{
    transform:scale(1.05);
    color: var(--light-bg-color);
    border: 2px solid var(--main-color); 
    background: var(--text-gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-group{
    display: flex;
    align-items: center;
    gap:1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
.btn-group a:nth-of-type(2):hover{
    background-color: var(--main-color);
    color: var(--bg-color);
}
c{
    color: var(--main-color);
}

/* Loader */

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    transition: opacity 1.5s, visibility 1.5s;
}

.loader--hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content:"";
    width: 75px;
    height: 75px;
    border: 15px solid var(--second-bg-color);
    border-top-color: var(--main-color);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading{
    from{transform: rotate(0turn);}
    from{transform: rotate(1turn);}
}

/* Landing Page */

/* Header */
.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 0rem 8% 0rem;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index:5;
    animation: fade-in 8s ease-in;
}
.logo{
    font-size: 3rem;
    color:var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;;
}
.logo:hover{
    transform:scale(1.1);
}
.navbar a{
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    background: var(--main-gradient-color);
    border-bottom: 3px solid var(--main-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 5% 10rem;
}
.color-btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 4rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    font-size: 3rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor:pointer;
}
.color-btn:hover{
    transform:scale(1.05);
    background-color: var(--light-bg-color);
    color: var(--bg-color);
}

/* Home Section */
.h-text{
    margin-top: -175px;
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.h-text span{
    color: var(--main-color);
    letter-spacing: 5px;
    font-size: 2.5rem;
    font-weight: 625;
    padding-top: 10px;
    animation: fade-in 2s ease-in;
}
.h-text h1{
    font-size: 3.5rem;
    padding-top: 10px;
    animation: fade-in 5s ease-in;
}
.h-text a{
    text-decoration: none;
    padding: 10px 20px;
    color: var(--text-color);
    letter-spacing: 5px;
    border-radius: 0%;
    padding-top: 10px;
    animation: fade-in 7s ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Go to top button */
.go-to-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.go-to-btn:hover{
    scale: 1.3;
}
.back-to-top {
    color: var(--light-bg-color);
    text-align: center;
    transition: 0.3s ease-in-out;
}
.back-to-top:hover {
    scale: 1.3;
}

/* About */
.about{
    padding-top: 50px;
    background: var(--second-bg-color);
}

.container {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 25px;
    column-gap: 5px;
    width: 100%;
}

img {
    flex: 1;
    margin: 0 auto;
    max-width: 75rem;
    max-height: 75rem;
}

.text {
    float: center;
    flex: 1;
    font-size: 2rem;
    padding: 20px;
}

.text a{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 250px;
}

/* Services */
.services {
    padding-top: 50px;
    background: var(--bg-color);
}
.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.service-box {
    border: 2px solid transparent var(--main-gradient-color);
    height: 375px;
    margin-top: 10px;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.service-box:nth-child(1) {
    background-color: #4b0082;
}

.service-box:nth-child(2) {
    background-color: #800080;
}

.service-box:nth-child(3) {
    background-color: #ff1493;
}
.service-box:nth-child(1):hover {
    border: 5px solid #4b0082;
}

.service-box:nth-child(2):hover {
    border: 5px solid #800080;
}

.service-box:nth-child(3):hover {
    border: 5px solid #ff1493;
}
.service-box:hover{
    background: var(--light-bg-color);
    color: var(--light-text-color);
    transform: scale(1.03);
}
.service-box .service-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    padding: 5rem;
}
.service-info h4 {
    font-size: 2.5rem;
    line-height: 2;
}
.service-info p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin: auto;
}

@media (max-width: 768px) {
    .service-container {
        grid-template-columns: 1fr; /* Single-column layout */
    }
}

/* Contact Us */

.contact {
    padding-top: 50px;
    background: var(--second-bg-color);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 25%;
    height: 100%;
    position: relative;
}

.container .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--main-gradient-color)
}

.container .left-side .details {
    margin: 14px;
    text-align: center;
}

.container .left-side .details i{
    font-size: 30px;
    background: var(--main-gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.container .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.container .left-side .details .text-one, 
.container .left-side .details .text-two {
    font-size: 14px;
    font-weight: 500;
    color: var(--second-text-color);
}

.container .right-side{
    width: 75%;
    height: 100%;
    margin-left: 75px;
}

.container .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    background: var(--main-gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .right-side p{
    font-size: 16px;
}

.container .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.container .right-side textarea,
.container .right-side input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    background: var(--bg-color);
    border-radius: 6px;
    color: var(--text-color);
    padding: 0 15px;
    resize: none;
}

.container .right-side textarea {
    padding: 15px;
}

.container .right-side .message-box{
    min-height: 110px;
    margin-top: 6px;
}

.container .right-side .btn{
    display: inline-block;
    margin-top: 6px;
}

/* Footer */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 20px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--light-bg-color);  
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.1);
    background: var(--main-gradient-color);
    border: var(--main-gradient-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:active,
.footer ul li a:hover{
    background: var(--main-gradient-color);
    border-bottom: 3px solid var(--main-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

/* General Light Mode Styles */
body.light-mode {
    background-color: var(--light-bg-color);
    color: var(--light-text-color); 
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Header Styles */
.header.light-mode {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

/* Navbar Styles */
.navbar.light-mode {
    background: transparent;
    backdrop-filter: blur(10px); 
}

.navbar.light-mode a {
    color: var(--light-text-color); 
}

.navbar.light-mode a:hover {
    color: var(--main-color);
}

/* Active Link Styles */
.navbar.light-mode a.active {
    color: var(--light-main-color); 
    font-weight: bold; 
}

/* Buttons */
.light-mode .btn {
    background-color: var(--bg-color); 
    color: var(--light-bg-color); 
    border: 2px solid var(--bg-color);
}
.light-mode .btn:hover {
    background-color: var(--bg-color);
    -webkit-text-fill-color: var(--bg-color);
}
.light-mode .btn-group a:nth-of-type(2){
    background-color: var(--light-bg-color);
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
}
.light-mode .btn-group a:nth-of-type(2):hover{
    background-color: var(--light-bg-color); 
    color: var(--bg-color); 
    border: 2px solid var(--bg-color);
}
.light-mode .color-btn{
    color: var(--light-text-color);
}
.light-mode .color-btn:hover{
    background-color: var(--bg-color);
    color: var(--light-bg-color);
}
.light-mode .go-to-btn{
    background: var(--bg-color);
}

/* Home */
.light-mode .h-text h1{
    color: var(--light-text-color);
} 
.light-mode .h-text a{
    background-color: var(--light-bg-color);
    color: var(--light-bg-color);
}
.light-mode .h-text a:hover{
    color: var(--bg-color);
    border-color: var(--bg-color);
}

/* Social Icons */
.light-mode .social-icons a{
    background-color: var(--light-second-bg-color);
    color: var(--light-text-color); 
    border: 2px solid var(--bg-color); 
}
.light-mode .footer .social a{
    background-color: var(--light-second-bg-color);
    color: var(--light-text-color); 
    border: 2px solid var(--bg-color); 
}

/* Hover State for Social Icons in Light Mode */
.light-mode .social-icons a:hover {
    background-color: var(--light-text-color); 
    color: var(--light-bg-color); 
    border: 2px solid var(--light-text-color);
}
.light-mode .footer .social a:hover {
    background-color: var(--light-text-color); 
    color: var(--light-bg-color); 
    border: 2px solid var(--light-text-color);
}

/* About Us */
.light-mode .about {
    background-color: var(--light-second-bg-color);
}
.light-mode .about {
    background-color: var(--light-second-bg-color);
    color: var(--bg-color); 
    border: 2px solid var(--light-text-color);
}

/* Services */
.light-mode .servises {
    background-color: var(--light-bg-color);
}
.light-mode .services {
    background-color: var(--light-bg-color);
    border: 2px solid var(--light-text-color);
}
.light-mode .service-info {
    color: var(--light-bg-color);
}
.light-mode .service-info:hover{
    color: var(--bg-color);
}

/* Contact Us */
.light-mode .contact {
    background-color: var(--light-second-bg-color);
}

.light-mode .container .left-side .details .topic{
    color: var(--bg-color);
}

.light-mode .container .left-side .details .text-one, 
.light-mode .container .left-side .details .text-two {
    color: var(--light-text-color);
}

.light-mode .container .right-side textarea,
.light-mode .container .right-side input {
    background: var(--light-bg-color);
    color: var(--bg-color);
}

/* Footer Styles */
.footer.light-mode {
    background-color: var(--light-second-bg-color); 
    color: var(--light-text-color); 
}
.footer.light-mode ul li a {
    color: var(--light-text-color);
    border-bottom: 3px solid transparent; 
    transition: 0.3s ease-in-out;
}
.footer.light-mode ul li a:hover {
    border-bottom: 3px solid var(--main-color); 
    color: var(--light-main-color); 
}
.footer.light-mode .copyright{
    color: var(--light-text-color); 
}
.footer.light-mode .social a:hover{
    color: var(--light-bg-color);
    border: 2px solid var(--light-text-color);
}

/* Section Styles */
.section.light-mode {
    background-color: #ffffff; 
    color: var(--light-text-color); 
    border: 1px solid #ddd; 
}

/* Logo Styles */
.light-mode .logo {
    color: var(--second-bg-color); 
}

/* Transition Effects */
.header, .navbar, .footer, .section, .about, .services, .contact, .go-to-btn {
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    animation: fade-in 9s ease-in;
}